

#visit {
    background-color: #FF764E;
}

#park {
    background-color: #5ED3EB;
}

#involved {
    background-color: #FFCD69;
}

.chelsea {
    font-family: "Chelsea Market" !important;
    font-size: 3rem !important;
}
 * {
     font-family: "Roboto Mono";

 }

 main {
     background-color: #DDB9A3;
     margin: 4rem 2rem;
    padding: 1rem 1rem;
 }

 footer {
     background-color: #F9E7DC;
     padding-bottom: 4rem;
 }

 .thick {
     font-weight: bold;
 }

 header img {
     border-radius: 50%;
     float: left;
     height: 25rem;
 }

 #visit, #park, #involved {
     border-radius: 2.5rem;
     margin: 20rem 10rem;
     font-size: 2rem;
     padding: 1rem;
 }

 header nav {
     margin-bottom: 10rem;
     margin-top: 2rem;
 }

 img {
     height: 11rem;
     width: 11rem;
     margin-left: auto;
     margin-right: auto;
 }

 footer img {
     width: 100%;
     padding-bottom: 3rem;
 }


 .body-text {
     font-size: 1.5rem;
 }

